h4 {
  font-weight: 550;
  font-size: 2.0rem;
  line-height: 1.0;
  padding: 4% 0% 3% 0%;
}
h5{
  font-family: 'Amaranth', sans-serif;
  padding: 3% 0% 2% 0%;
  font-weight: bold;

}
h2{
  font-family: 'Amaranth', sans-serif;
  font-weight: 550;
  font-size: 2.0rem;
  line-height: 1.0;
  color: white;
}

p{
  font-family: 'Montserrat', sans-serif;
}

body {
  text-align: center;
}






.logo{
  width: 15%;
  position: relative;
  height: 15%;
}
#homepage-images, .statements{
  padding: 0% 12%;
}
#features {
  padding: 4% 12%;
  background-color: #fff;
  position: relative;
}

/* homepage */

.visionary-paragraph{
  color: #8f8f8f;
}

.icon {
  padding-bottom: 3%;
  color: #004a2f;
}



.carousel-img{
  width: 60%;
}

.ic {
  margin-right: 5px;
  padding-bottom: 5px;
}
/* footer icons */
.fa-twitter :hover{
  color: #38A1F3;
}
.fa-facebook-f :hover{
  color: #3e64ff;
}
.fa-youtube :hover{
color:  #ff0000;
}
.fa-instagram :hover{
  color: #e03f7c;
}

#footer{
  background-color: Black;
  color: white;
  padding: 0% 12%;

}

/* objectives */
.objectives{
  text-align: center;
  background-color: #eaeaea;
  padding: 0 12% 2%;
}

.fa-caret-right{
  color: #004a2f;
}

/* about us page */

#missionAndVision{
  background-image: url("../images/anotherone.jpg");
  margin: 0;
  padding: 0;
  opacity: 0.9;
  background-repeat: none;
  background-size:cover;
  background-attachment: fixed;
}
.missionAndVisionBox{
  padding: 7% 12%;
  color: white;
}

.aboutus {
  background-image: url("../images/shoess.jpg");
  opacity: 1;
  background-repeat: none;
  background-size:cover;
  background-attachment: fixed;
}
.aboutusBox, .history, .coach, .what-we-do-box {
  padding: 7% 12%;
  text-align: left;
}

.julio-img, .his-img{
  width: 50%;
  float: right;
  padding-left: 3%;
}

/* contact us */


#contact{
  text-align: left;
  padding: 7% 12%;
  background-color: #cccccc;
}

.links{
  color: white;
}
.links:hover{
  color: green;
}

/*what we do section  */
.what-we-do{
  background-image: url("../images/randall.jpg");
  opacity: 1;
  background-repeat: none;
  background-size:cover;
  background-attachment: fixed;
}


/* card decks */

.card-deck{
  padding: 3% 12%;
}


/* youtube video */


.youtube-video-box {
  background-color: #f9f9f9;
  padding: 3% 12%;

}


/* training and tournament */

.training{
  padding: 0% 12%;
}

/* footer */
